body{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3ac3c;
  }
  
  .container{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .shadow_body{
    background-color: #1a4341;
    height: 180px;
    width: 150px;
    border-radius: 200px;
    margin-right: -135px;
    z-index: 1;
  }
  
  .body_1{
    background-color: #998235;
    height: 180px;
    width: 150px;
    border-radius: 200px;
    z-index: 2;
    display: flex;
    align-items: center;
  }
  
  .body_2{
    background-color: #998235;
    height: 150px;
    width: 140px;
    border-radius: 200px;
    z-index: 2;
    display: flex;
    align-items: center;
    margin-left: -70px;
    justify-content: center;
  }
  
  .d1{
    background-color: #3a4b52;
    height: 70px;
    width: 15px;
    margin-left: 30px;
    border-radius: 50px;
  }
  
  .boca_sombra{
    height: 70px;
    width: 70px;
    background-color: #1a4341;
    border-radius: 1000px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 54;
  }
  
  .boca_item{
    background-color: #3a4b52;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    z-index: 55;
  }
  
  .braco{
    background-color: #c86500;
    width: 250px;
    height: 35px;
    margin-left: -58px;
    border-radius: 7px 0px 0px 7px;
    z-index: 3;
    display: flex;
    justify-content: space-around;
  }
  
  .traste{
    height: 35px;
    width: 3px;
    background-color: #1a4341;
  }
  
  .d2{
    background-color: #3a4b52;
    height: 35px;
    width: 5px;
  }
  
  .mao{
    background-color: #998235;
    height: 50px;
    width: 80px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .mao_item{
    height: 8px;
    width: 8px;
    border-radius: 50px;
    background-color: #3a4b52;
    display: flex;
    justify-content: center;
  }
  
  .mao_linha{
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }
  
  .tarracha{
    background-color: #1a4341;
    height: 7px;
    width: 10px;
    margin-top: -17px;
    border-radius: 3px;
  }
  
  .tarracha2{
    background-color: #1a4341;
    height: 7px;
    width: 10px;
    margin-top: 17px;
    border-radius: 3px;
  }
  
  .cordas{
    width: 367px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: -452px;
    z-index: 50;
  }
  
  .corda_item{
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  
  .corda_item:hover{
    background-color: #999;
  }
  
  
  .container{
      animation: pulse 1.2s linear infinite;
  }
  
  @keyframes pulse {
      0% {
       transform: scale(1, 1);
      }
  
      50% {
       transform: scale(1.1, 1.1);
      }
  
      100% {
      transform: scale(1, 1);
      }
  }